
/* Google Font */

/*font-family: 'Titillium Web', sans-serif;*/
/*font-family: 'Cabin', sans-serif;*/
/*font-family: 'Josefin Sans', sans-serif;*/
/*font-family: 'Josefin Slab', serif;*/

.css-selector {
	font-family: 'Font Name', serif;
}
body {
	padding-top: 9rem;
}
.row.title {
	text-align: center;
}
.box {
	border-style: solid;
	border-width: 2px;
	border-color: blue;
	padding: 5px;
}
#home-pad {
	padding-top: 9rem;
	padding-bottom: 4rem;
}
#port-pad {
	padding-top: 5rem;
	padding-bottom: 20rem;
}
#exp-pad {
	padding-top: 10rem;
}
#contact-pad {
	padding-top: 20rem;
}
