
/* Google Font */

/*font-family: 'Titillium Web', sans-serif;*/
/*font-family: 'Cabin', sans-serif;*/
/*font-family: 'Josefin Sans', sans-serif;*/
/*font-family: 'Josefin Slab', serif;*/
/*font-family: 'Great Vibes', cursive;*/
/*font-family: 'Rock Salt', cursive;*/
/*font-family: 'Merienda', cursive;*/

.css-selector {
	font-family: 'Cabin', sans-serif;
}
body {
	font-family: 'Cabin', sans-serif;
	font-size: 16px;
	padding-top: 9rem;
	background: url("../images/mesa01.JPG") no-repeat center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color:#fff;
	background-color:#333;
}
.jumbotron {
	background: #3073AD;
}
.bg-btm {
	background: #3073AD;
}
h1{
	text-shadow: 3px 3px #666666;
	font-family: 'Great Vibes', cursive;
}
h2 {
	font-family: 'Rock Salt', cursive;
	text-shadow: 2px 2px #666666;
}
.row.title {
	text-align: center;
}
/*.exp-bg {*/
	/*background-color: green;*/
/*}*/
.card-header {
	border-style: solid;
	border-width: 1px;
	border-color: black;
	padding: 10px;
	background-color: #DFEBDF;
}
.panel {
	padding-bottom: 7rem;
}
#card-big-exp {
	color: #000;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	padding: 20px;
	background-color: #8FBC8F;
}
#card-port {
	color: #000;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	padding: 10px;
	background-color: #A7CFF0;
	width: 160px;
}
#card-exp {
	color: #000;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	padding: 10px;
	background-color: #DFEBDF;
	width: 160px;
}
#card-contact {
	color: #000;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	padding: 10px;
	background-color: #EFD5D5;
	width: 160px;
}
.tab-content {
	text-align: left;
}
.box1 {
	border-style: solid;
	border-width: 1px;
	border-color: black;
	padding: 10px;
	text-align: center;
	margin: 10px;
}
#home-bg {
	background-color: #EEEDA9;
}
#home-pad {
	padding-top: 8rem;
	/*padding-bottom: 10rem;*/
}
#home-card {
	text-align: center;
}
#port-pad {
	color: black;
	padding-top: 10rem;
	padding-bottom: 10rem;
}
#exp-pad {
	padding-top: 10rem;
	padding-bottom: 10rem;
}
#contact-pad {
	padding-top: 10rem;
	padding-bottom: 10rem;
}
.title {
	padding-top: 5rem;
}
.text-left {
	padding-left: 80px;
 }
/*.card {*/
	/*padding: 10px;*/
/*}*/

/*.jumbotron {*/
	/*margin-bottom: 0px;*/
	/*background-image: url(/public_html/images/sheba-garden.jpg);*/
	/*background-position: 0% 25%;*/
	/*background-size: cover;*/
	/*background-repeat: no-repeat;*/
	/*color: white;*/
	/*text-shadow: black 0.3em 0.3em 0.3em;*/
/*}*/