
/* Google Font */

/*font-family: 'Titillium Web', sans-serif;*/
/*font-family: 'Cabin', sans-serif;*/
/*font-family: 'Josefin Sans', sans-serif;*/
/*font-family: 'Josefin Slab', serif;*/

.css-selector {
	font-family: 'Font Name', serif;
}
body {
	padding-top: 9rem;
}
.row.title {
	text-align: center;
}
.box {
	border-style: solid;
	border-width: 1px;
	border-color: black;
	padding: 10px;
}
#home-pad {
	padding-top: 9rem;
	padding-bottom: 4rem;
}
#port-pad {
	padding-top: 20px;
	padding-bottom: 10rem;
}
#exp-pad {
	padding-top: 2rem;
}
#contact-pad {
	padding-top: 1rem;
}
.title {
	padding-top: 5rem;
}

.jumbotron {
	margin-bottom: 0px;
	background-image: url(/public_html/images/sheba-garden.jpg);
	background-position: 0% 25%;
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
	text-shadow: black 0.3em 0.3em 0.3em;
}